@page "/profile"

<h2>Student Profile</h2>

<img src="https://img.freepik.com/free-photo/portrait-young-student-happy-be-back-university_23-2148586577.jpg?semt=ais_hybrid&w=740&q=80" width="200" />

<p><strong>Name:</strong> @studentName</p>
<p><strong>Course:</strong> @courseName</p>
<p><strong>Batch:</strong> @batchYear</p>

@code {
    string photoPath = "images/student1.jpg";
    string studentName = "Lanee Gole Lama";
    string courseName = ".NET MAUI Hybrid Training";
    string batchYear = "2025";
}